body {
    background-color: rgb(222, 236, 236);
    text-align: center;
}

#logo{
    color: rgb(2, 101, 250);
    font-size: 55px;
    margin: 32px 0px 0px 0px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

p{

    font-size: 26px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;

}
article {
    box-shadow:
    0 0 32px 8px #c7c7c7;
    
    border-radius: 6px;
    text-align: center;
    margin: auto;
    width: 400px;
    height: 360px;
    background-color: white;    
    display: block;
}

.input-margin{
    margin: 20px 0px 12px 0px;
}

input{
    
    width: 330px;
    height: 46px;
    border: 1px solid rgb(179, 179, 179);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 16px;
}

.submit{
    background-color: rgb(2, 101, 250);
    color: white;
    margin: 10px 0px 0px 0px;
    width: 375px;
    height: 50px;
    border: 1px solid rgb(179, 179, 179);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-size: 22px;
}

.submit-new{
    background-color: rgb(7, 190, 32);
    color: white;
    margin: 10px 0px 0px 0px;
    width: 225px;
    height: 50px;
    border: 1px solid rgb(179, 179, 179);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-size: 18px;
}